h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: darkblue;
  text-align: center;
}

.result {
  border: 1px solid rgb(139, 139, 194);
  height: 60px;
  background-color: lightblue;
  width: 100%;
}

.result p {
  font-size: 40px;
  margin: 5px;
}

.calculator-body {
  max-width: 400px;
  margin: auto;
  padding: 4px;
  border: 2px solid black;
  border-radius: 5px;
}

.button {
  display: block;
  background-color: whitesmoke;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  color: white;
  background-color: rgb(109, 109, 109);
}